---
const services = [
  {
    step: '01',
    name: 'Beasiswa Indonesia Maju (BIM)',
    description:
      'Aimed at students who excel in academic or non-academic fields. It consists of a degree scholarship programme, which provides funding for undergraduate and postgraduate degrees at home and abroad, and non-degree scholarships, which provide preparatory classes for undergraduate degrees abroad.',
  },
  {
    step: '02',
    name: 'Australian Awards Scholarship',
    description:
      'Covers majors that are rarely in demand and do not exist in Indonesia. It offers two types of scholarships: those for masters or doctoral degrees and intensive short course programmes. The most promising candidates will be awarded scholarships after a competitive selection process.',
  },
  {
    step: '03',
    name: 'Lembaga Pengelola Dana Pendidikan (LPDP)',
    description:
      'Offers affirmation scholarships, which are for people from affirmation areas, and regular scholarships. Provided by the Ministry of Finance for masters and doctoral study programmes at home and abroad. Candidates who excel in both academic and non-academic matters will be selectively chosen.',
  },
  {
    step: '04',
    name: 'MEXT (Monbukagakusho)',
    description:
      'Offers College of Technology and Professional Training College programmes for high school graduates, Research Student programmes for college graduates, undergraduates and Japanese Studies programmes for Japanese studies students. Includes living and study costs.',
  },
    {
    step: '05',
    name: 'Beasiswa Bidikmisi',
    description:
      'Commonly referred to as the Smart Indonesia Card programme. Intended for prospective students who have good academic performance but come from underprivileged families. Intended for Indonesian citizens who will take an undergraduate or diploma 4.',
  },
    {
    step: '06',
    name: 'Beasiswa Chevening',
    description:
      ' The Chevening Scholarship is a prestigious international scholarship funded by the UK Government. The scholarship offers future leaders from around the world the opportunity to study at top UK universities for one year.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
