<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
         This is your go-to resource for finding and applying to scholarships. We're dedicated to helping students achieve their academic goals by providing a comprehensive database of scholarships, expert advice, and personalized support. Our mission is to empower students worldwide by connecting them with the right funding opportunities. With our easy-to-use platform and dedicated team, we're here to guide you through the scholarship application process and help you secure the financial support you need to succeed.
        </p>
        <a
          href="/about"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
